<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.GiveAPint.persistence.mappers.TokenMapper">

<!-- Need to implement a query which returns the list of username and regid pairs provided the list of usernames. -->
	
<resultMap type="com.GiveAPint.dto.NotificationTokenDTO"
		id="NotificationResultMap">
		<result column="username" property="userName" />
		<result column="regid" property="regId" />
	</resultMap>
	
<select id="getSelectedRegIds" parameterType="map" resultMap="NotificationResultMap">
		SELECT
		"username,
		"regid"
		FROM notifications where username IN
		<foreach item="item" index="index" collection="users"
      	open="(" separator="," close=")">
        #{item}
  		</foreach> 
</select>		
</mapper>